# Name: iSBTools Plugin
# Author: Victor Caldas v.e.a.caldas@rug.nl
# Author: C. Michiel Punter c.m.punter @Rug.nl
# Reference:
# Version: 1.2
# Date: 2003/12/15
# Requires: ImageJ 1.31s

Plugins>Single Molecule Biophysics, "iSBatch ", iSBatch.ISBatch_
Help>About Plugins, "iSBatch...", iSBatch.iSBatch_website
#SMB, "iSBatch ", iSBatch.ISBatch

# Name: Single Molecule Biophysics Plugins
# Author: C.M. Punter
# Version: 2.0
# Date: 2013/01/09

#Plugins>Single Molecule Biophysics>Analysis, "Peak Finder", analysis.PeakFinder
#Plugins>Single Molecule Biophysics>Analysis, "Peak Fitter", analysis.PeakFitter
#Plugins>Single Molecule Biophysics>Analysis, "Particle Tracker", analysis.ParticleTracker
#Plugins>Single Molecule Biophysics>Analysis, "Drift Correction", analysis.DriftCorrection
#Plugins>Single Molecule Biophysics>Analysis, "Palm Reconstruction", analysis.PalmReconstructor
#Plugins>Single Molecule Biophysics>Analysis, "Mean Square Displacement", analysis.MeanSquareDisplacement
#Plugins>Single Molecule Biophysics>Analysis, "Mean Square Displacement2", analysis.MeanSquareDisplacement2
#Plugins>Single Molecule Biophysics>Analysis, "Step Size Distribution", analysis.StepSizeDistribution

#Plugins>Single Molecule Biophysics>Process, "Discoidal Averaging Filter", process.DiscoidalAveragingFilter
#Plugins>Single Molecule Biophysics>Process, "Moving Average Filter", process.MovingAverageFilter
#Plugins>Single Molecule Biophysics>Process, "Hough Transform Circles", process.HoughCircles
#Plugins>Single Molecule Biophysics>Process, "Background Remover", process.BackgroundRemover

#Plugins>Single Molecule Biophysics>Results Table, "Open Table", table.ResultsTableOpener
#Plugins>Single Molecule Biophysics>Results Table, "Create",  table.ResultsTableView
#Plugins>Single Molecule Biophysics>Results Table, "Filter",  table.ResultsTableFilter
#Plugins>Single Molecule Biophysics>Results Table, "Sort",    table.ResultsTableSorter
#Plugins>Single Molecule Biophysics>Results Table, "Plot",    table.ResultsTablePlotter

#Plugins>Single Molecule Biophysics>Utilities, "Update", util.Update
